<div class="password-reset-form">
<h2>Parolamı Unuttum</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Gönder", class: "btn btn-success" %>
  </div>
<% end %>

<% if !resource.errors.empty? %>
  <% message = resource.errors.full_messages.join('\n') %>
  <script>
    $(document).on('ready', function () {
      sweetAlert({
        type: "error",
        title: "Hata",
        text: "<%= message %>",
        confirmButtonColor: "#00d888",
        confirmButtonText: "Tamam"
      });
    });
  </script>
<% end %>
</div>
